/* -------------- FONTS -------------- */
@font-face {
    font-family: "8bitOperatorPlus-Regular";
    src: url("../public/8bitOperatorPlus-Regular.woff") format("woff");
}

@font-face {
    font-family: "8bitOperatorPlus-Bold";
    src: url("../public/8bitOperatorPlus-Bold.woff") format("woff");
}

/* -------------- VARIABLES -------------- */
:root{
  --primary-background-color: hsl(268, 75%, 9%);
  --secondary-background-color: hsl(268, 63%, 17%);
  --yellow: #F7FF00;
  --red: #fe0000;
  --borderRadius: 0.5rem;
  --green: rgb(153, 255, 0);
  --boxShadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  --H1TextShadow: 0px 0px 4px var(--yellow);
  --ImgsDropShadow: 0px 0px 2px var(--yellow);
}

/* -------------- RESET CODE -------------- */
*{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,p,ul{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

span{
    display: inline-block;
}

input, button{
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
}

button{
    cursor: pointer;
}

body{
    background-color: var(--primary-background-color);
    color: white;
    text-align: center;
    font-family: "8bitOperatorPlus-Regular", "Consolas";
}

/* -------------- AUXILIARY CODE -------------- */
/* this is for the Loading component */
/* the Loading styles need to be downloaded first */
/* for  avoid other components flashes before the Loading appears*/
.Loading{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--primary-background-color);
}